$main-color-yellow: #F9D342;
$main-color-black: #292826;

theme-color-yellow{
  color: #F9D342;
}

theme-color-black{
  color: #292826;
}

theme-background-color-black{
  background: #292826;
  background-color: #292826;
}


