$main-color-yellow: #F9D342;
$main-color-black: #292826;

theme-color-yellow{
  color: #F9D342;
}

theme-color-black{
  color: #292826;
}

theme-background-color-black{
  background: #292826;
  background-color: #292826;
}

p {
  font-family: Lato;
}

.main_content {
  width:100%;
  height: calc(100vh - 100px);
  background: #efefef;
}
