<div class="sidenav_container"  [@onSideNavChange]="sideNavState ? 'open' : 'close'">
  <div fxLayout="column" fxLayoutGap="10px" style="height: 100%;">

    <div class="user_menu">
      <mat-nav-list>
        <a mat-list-item>
          <img class="jim" src="https://a57.foxnews.com/media2.foxnews.com/BrightCove/694940094001/2018/06/21/931/524/694940094001_5800293009001_5800284148001-vs.jpg?ve=1&tl=1" alt="">
          <span [@animateText]="linkText ? 'show' : 'hide'">{{ page?.name }} </span>
        </a>
      </mat-nav-list>
      <mat-divider></mat-divider>
    </div>

    <div>
      <mat-nav-list>
        <a mat-list-item *ngFor="let page of pages">
          <mat-icon class="yellow" style="padding-right:5px;">{{page?.icon}}</mat-icon>
          <span [@animateText]="linkText ? 'show' : 'hide'">{{ page?.name }} </span>
        </a>
      </mat-nav-list>
    </div>

    <div *ngIf="hideMenuContent">
      <mat-nav-list>
        <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
          <span [@animateText]="linkText ? 'show' : 'hide'"  class="full-width" *ngIf="isExpanded || isShowing">Parent Menu</span>
          <!--<span class="full-width" *ngIf="isExpanded || isShowing">Parent Menu</span>-->
          <mat-icon class="yellow"  style="padding-right:5px; padding-left: 0px" mat-list-icon>home</mat-icon>
          <mat-icon class="menu-button yellow" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
        </mat-list-item>
        <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
          <a mat-list-item href="...">Submenu Item 1</a>
          <a mat-list-item href="...">Submenu Item 2</a>
          <mat-list-item (click)="showSubSubMenu = !showSubSubMenu" class="parent">
            <span class="full-width" *ngIf="isExpanded || isShowing">Nested Menu</span>
            <mat-icon class="menu-button yellow" [ngClass]="{'rotated' : showSubSubMenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
          </mat-list-item>
          <div class="submenu" [ngClass]="{'expanded' : showSubSubMenu}" *ngIf="isShowing || isExpanded">
            <mat-list-item>SubSubmenu Item 1</mat-list-item>
            <mat-list-item>SubSubmenu Item 2</mat-list-item>
          </div>
        </div>
      </mat-nav-list>
    </div>
  </div>

  <span class="spacer"></span>
  <div fxLayout="row" fxLayoutAlign="end center" style="padding: 0px 10px;">
    <button mat-icon-button (click)="onSinenavToggle()">
      <mat-icon *ngIf="sideNavState">arrow_left</mat-icon>
      <mat-icon *ngIf="!sideNavState">arrow_right</mat-icon>
    </button>
  </div>
</div>
