@import "shared/common-style";

.example-container {
  height: 500px;
}
.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.example-sidenav {
  user-select: none;
  background: $main-color-yellow;
}
.full-width {
  width: 100%;
}
.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 30px;
}
.submenu.expanded {
  transform: scaleY(1);
}

p {
  font-family: Lato;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: red;
}

.shadow-background {
  position: absolute;
  overflow: hidden;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  height: 100vh;
  width: 100vw;
}
