<div>
  <app-header [sidenav]="leftSidenav"></app-header>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #leftSidenav mode="side" opened>
      <app-navbar></app-navbar>
    </mat-sidenav>
    <mat-sidenav-content [@onMainContentChange]="onSideNavChange ? 'open': 'close'">
      <div class="main_content">
        <div style="padding: 20px">
          Your content
          <div [@popOverState]="stateName">
            <p>Hello! I'm a helpful message.</p>
          </div>
          <!--<button (click)="toogle()">Toggle PopOver</button>-->

        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
